.main {
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.01);
  background: #fff;
  border-radius: 3px;
}
.main h1 {
  font-size: 20px;
  text-align: center;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
}

.form input[type='text'] {
  height: 40px;
  width: 100%;
  max-width: 300px;
  font-size: 20px;
  padding: 0 20px;
  border: 1px solid #ccc;
}

.form button {
  height: 40px;
  width: 100%;
  max-width: 100px;
  border: none;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(249, 72, 72, 0.97);
  color: #fff;
}
.tarefas {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
}

.tarefas li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  list-style: none;
}

.tarefas li .edit {
  color: rgb(36, 156, 221);
  margin-right: 10px;
}
.tarefas li .delete {
  color: rgb(221, 36, 36);
}
.tarefas li:hover {
  background-color: rgb(36, 156, 221);
  transition: all 600ms;
}
.tarefas li .edit,
.tarefas li .delete {
  cursor: pointer;
}
.tarefas li:hover .edit,
.tarefas li:hover .delete {
  transition: all 600ms;
  color: #333;
}
